.list-hover > li:hover { background-color: #428bca; }
.list-hover > li:hover > a { color: White; }

/*btn-group > btn-default:active*/
.btn-default.active
{
	color: #fff !important;
	background-color: #47a447 !important;
	border-color: #398439 !important;
}

.blackwhite {
    color: black;
}

.blackwhite:hover {
    color: white;
}

.list-hover > li:hover > span > a { color: White; }
.list-hover > li:hover > h3 > a > span { color: White; }
.list-hover > li:hover > h3 { color: White; }
.list-hover > li:hover > h3 > a  { color: White; }
.list-hover > li:hover > h3 > span > a { color: White; }

.correctAnswer 
{
	font-weight: bold;
	background-color: #dff0d8;
}

.strikethrough-line {
	text-decoration: line-through;
	font-weight: bold;
	color: Red;
	background-color: #DFDFDF;
	opacity: 0.5;
}
.strikethrough-text {
	color: Black;
	font-weight: normal;
}

#content
{
	padding-top: 80px;	
	padding-bottom: 80px;	
}

.row-quiz-summary { background-color: #F7F7F7; }

.badge-info {color: White; background-color: #39b3d7;}
.badge-success {color: White; background-color: #47a447;}
.badge-warning {color: White; background-color: #ed9c28;}
.badge-danger {color: White; background-color: #d2322d;}


